/* Layout page styling */
.layout-container{
    height:100%
}
.main-div {
    background-color: green;
    display: flex;
    padding: 20px;
}

.main-left{
    flex: 70%;
    text-align: center;
}
.main-right{
    flex: 30%
}

/* Discography section */

.discog-container{
    text-align: center;
}

.album-container{
    display: inline;
    text-align: center;
}
.album-img {
    
    max-width: 100px;
}

/* Blog */

.blogContainer {
    display: inline-block;
}

.blog-post {
    display: inline;
    text-align: left;
    margin-bottom: 30px;
}