/* Layout page styling */
.layout-container{
    height:100%;
    
}
.main-div {
    background-color: white;
    display: flex;
    padding: 20px;
    margin: auto;
    max-width: 900px;
}

.main-left{
    flex: 68%;
    text-align: center;
    overflow: none;
}
.main-right{
    text-align: center;
    flex: 30%
}

/* Discography section */

.discog-container{
    text-align: center;
    display:inline;
    margin: auto;
}
.discog-albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container{
    
    text-align: center;
    font-size: 12px;
    width: 80px;
}
.album-img {
    max-width: 70px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
}

/* Blog */

.blogContainer {
    display: inline-block;
}

.blog-post {
    display: inline;
    text-align: left;
    margin-bottom: 30px;
}

/* Header */
.page-header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo{
    display: inline-block;
    height: 150px;
    margin: 10px;
}

.header-text {
    color: white;   
}

.header-nav{
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.header-icons{
    display: inline-block;
    margin-top:auto;
    margin-bottom: auto;
}

.icon {
    width: 30px;
    margin: 3px;
}

/* AlbumDetails page */
.album-details-container{
    height: 100%;
    
}

.bandcamp-player{
    
    padding: 5px;
}


/* Breakpoints */
@media (min-width: 380px){
        .album-img {
            max-width: 120px;
        }
        .album-container{
    
            text-align: center;
            font-size: 12px;
            width: 130px;
        }
        
        .main-div {
            width: 90%;
        }

        .icon {
            width: 50px;
            margin: 3px;
        }
    }

    .wp-block-embed-youtube{
        width: 100%;
    }

    /* iframes are used in YouTube videos */
    iframe{
        width:80%;
    }