/* Layout page styling */
.layout-container{
    height:100%;
    
}
.main-div {
    background-color: white;
    display: flex;
    padding: 20px;
    margin: auto;
    max-width: 900px;
}

.main-left{
    flex: 70%;
    text-align: center;
    overflow: auto;
}
.main-right{
    text-align: center;
    flex: 30%
}

/* Discography section */

.discog-container{
    text-align: center;
    display:inline;
    margin: auto;
}
.discog-albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container{
    
    text-align: center;
    font-size: 12px;
    width: 80px;
}
.album-img {
    max-width: 70px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
}

/* Blog */

.blogContainer {
    display: inline-block;
}

.blog-post {
    display: inline;
    text-align: left;
    margin-bottom: 30px;
}

/* Header */
.page-header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo{
    display: inline-block;
    height: 150px;
    margin: 10px;
}

.header-text {
    color: white;   
}

.header-nav{
  
}

/* AlbumDetails page */
.album-details-container{
    height: 100%;
    
}

.bandcamp-player{
    
    padding: 5px;
}


/* Breakpoints */
@media (min-width: 380px){
        .album-img {
            max-width: 120px;
        }
        .album-container{
    
            text-align: center;
            font-size: 12px;
            width: 130px;
        }
        
        .main-div {
            width: 90%;
        }
    }